<header class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <button class="menu material-icons mdc-toolbar__menu-icon">menu</button>
      <span class="mdc-toolbar__title">{{ title }}</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
    </section>
  </div>
  <aside class="mdc-drawer mdc-drawer--temporary">
      <nav class="mdc-drawer__drawer">
        <header class="mdc-drawer__header">
          <div class="mdc-drawer__header-content mdc-theme--text-primary-on-primary mdc-theme--primary-bg">
            Menu
          </div>
        </header>
        <nav class="mdc-drawer__content mdc-list-group">
          <div class="mdc-list">
            <a class="mdc-list-item" href="{{ url_for('status.status_list') }}" data-mdc-tabindex-handled="true" tabindex="-1">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">view_list</i>List
            </a>
            <a class="mdc-list-item" href="{{ url_for('status.add_tweet') }}" data-mdc-tabindex-handled="true" tabindex="-1">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">add_box</i>Add Tweet
            </a>
          </div>
        </nav>
      </nav>
    </aside>
  <script>let drawer = new mdc.drawer.MDCTemporaryDrawer(document.querySelector('.mdc-drawer--temporary'));
      document.querySelector('.menu').addEventListener('click', () => drawer.open = true);</script>
</header>
