<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet"
        href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../static/css/common.css">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<body class="mdc-typography">
  {% include "header.html" %}
  <main>
    <div class="mdc-toolbar-fixed-adjust">
      <div class="max-width">
      {% block content %}
      {% endblock %}
      </div>
    </div>
  </main>
  <script>window.mdc.autoInit();</script>
</body>
</html>
